<meta charset="utf-8">
<title>The Record Shop</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
</style>
<link rel="stylesheet" href="/style.css">
