<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
    </style>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>New Product</h1>
      <div class="container">
        <form action="/" method="POST">
          Title <input type="text" name="title"><br />
          Artist <input type="text" name="artist"><br />
          Genre <input type="text" name="genre"><br />
          Image <input type="text" name="img"><br />
          Price <input type="text" name="price"><br />
          In Stock <input type="text" name="qty"><br />
          <input type="submit" value="Add to Inventory">
        </form>

      </div>
  </body>
</html>
