<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <h1>New Product</h1>
      <div class="container">
        <form action="/" method="POST">
          Title <input type="text" name="title"><br />
          Artist <input type="text" name="artist"><br />
          Genre <input type="text" name="genre"><br />
          Image <input type="text" name="img"><br />
          Price <input type="text" name="price"><br />
          In Stock <input type="text" name="qty"><br />
          <input type="submit" value="Add to Inventory">
        </form>

      </div>
  </body>
</html>
