<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body class="login">
    <div class="form">
      <div class="sidebar"></div>
      <div class="register">
      <h1>Log In</h1>
      <form action="/sessions" method="POST">
        <fieldset>
          <label for="name">User Name:</label>
          <input type="text" name="username" required/>
          <br>
          <label for="">Password:</label>
          <input type="password" name="password"/>
          <br />
        </fieldset>
        <input type="submit" value="Submit" class="sub">
        <p>
          or
        </p>
        <ul class="formTags">
        <li class="formList"><a class="formA" href="/users/new">Create Account</a></li><br>
        <li><a href="/">Home</a></li>
        </ul>
      </form>
      </div>
    </div>
  </body>
</html>
